body {
    margin: 0;
    background: whitesmoke;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
img.projectheader{
    position: absolute;
    left:0;
    top:0;
    width:100%
}
